@page
@model RecruitCatDubalvb.Pages.JobTitles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Job Title</h1>

<h4>JobTitle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobTitle.Id" />
            <div class="form-group">
                <label asp-for="JobTitle.Domain" class="control-label"></label>
                <input asp-for="JobTitle.Domain" class="form-control" />
                <span asp-validation-for="JobTitle.Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.MiniSalary" class="control-label"></label>
                <input asp-for="JobTitle.MiniSalary" class="form-control" />
                <span asp-validation-for="JobTitle.MiniSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.MaxSalary" class="control-label"></label>
                <input asp-for="JobTitle.MaxSalary" class="form-control" />
                <span asp-validation-for="JobTitle.MaxSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.Title" class="control-label"></label>
                <input asp-for="JobTitle.Title" class="form-control" />
                <span asp-validation-for="JobTitle.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
