@page
@model RecruitCatDubalvb.Pages.Companies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Company</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.Name" class="control-label"></label>
                <input asp-for="Company.Name" class="form-control" />
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Location" class="control-label"></label>
                <input asp-for="Company.Location" class="form-control" />
                <span asp-validation-for="Company.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Optionalstartdate" class="control-label"></label>
                <input asp-for="Company.Optionalstartdate" class="form-control" />
                <span asp-validation-for="Company.Optionalstartdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.MiniSalary" class="control-label"></label>
                <input asp-for="Company.MiniSalary" class="form-control" />
                <span asp-validation-for="Company.MiniSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.MaxSalary" class="control-label"></label>
                <input asp-for="Company.MaxSalary" class="form-control" />
                <span asp-validation-for="Company.MaxSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.PositionName" class="control-label"></label>
                <input asp-for="Company.PositionName" class="form-control" />
                <span asp-validation-for="Company.PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.EmployeeCount" class="control-label"></label>
                <input asp-for="Company.EmployeeCount" class="form-control" />
                <span asp-validation-for="Company.EmployeeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyStart" class="control-label"></label>
                <input asp-for="Company.CompanyStart" class="form-control" />
                <span asp-validation-for="Company.CompanyStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.IndustryId" class="control-label"></label>
                <select asp-for="Company.IndustryId" class ="form-control" asp-items="ViewBag.IndustryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Company.JobtitleId" class="control-label"></label>
                <select asp-for="Company.JobtitleId" class ="form-control" asp-items="ViewBag.JobtitleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
